#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 45px 130px 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
